{{fecha | date: "dd/MM/yyyy"}} {{fecha | date: "fullDate" | uppercase}} {{4 | pruebas: 7}}
<header id="header">
    <a [routerLink]="['/']">
        <img id="logo" src="../../assets/images/angular.png">
    </a>
    <h1>{{titulo}}</h1>
    <div class="clearfix"></div>
</header>
<nav id="nav">
    <ul>
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a [routerLink]="['/crear-restaurante']">Crear restaurante</a></li>
        <li><a [routerLink]="['/donde-como-hoy', 1]">¿Dónde como hoy?</a></li>
    </ul>
</nav>
<section class="main">
    <router-outlet></router-outlet>
</section>